body {
  margin: 1.5em;
  font-family: "Poppins", sans-serif;
}

a {
  font-size: 1.5em;
  text-decoration: none;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url("../images/shoe.jpg");
  background-position-x: 20%;
  background-position-y: 20%;
  background-size: cover;
  z-index: -1;
  -webkit-animation: intro 2s forwards;
          animation: intro 2s forwards;
}

.logo {
  color: white;
  font-weight: bold;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  width: 50%;
  height: 100vh;
  background: white;
  z-index: 99;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

nav ul {
  list-style: none;
  padding: 0;
  margin-top: 8em;
}

nav ul a {
  display: block;
  color: black;
  padding: 0.75em 2em;
}

nav ul a:hover {
  background: #e1e1e1;
}

nav .close {
  float: right;
  margin: 2em;
  cursor: pointer;
  width: 2.5em;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header svg {
  width: 3em;
  margin-top: -0.6em;
  cursor: pointer;
}

section.hero {
  color: white;
  height: 90vh;
  -webkit-animation: downMove 0.9s ease-in-out forwards;
          animation: downMove 0.9s ease-in-out forwards;
  opacity: 0;
}

section.hero .down__arrow {
  stroke: white;
  position: absolute;
  bottom: 2em;
  width: 1em;
  animation: arrowMove 0.9s infinite alternate-reverse;
}

section.hero .down__arrow path {
  fill: white;
}

h1 {
  font-size: 3rem;
  line-height: 3.2rem;
  margin-top: 2em;
}

.subhead {
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.more__info img {
  width: 100%;
}

.more__info .title {
  font-size: 1.5rem;
  font-weight: bold;
}

.more__info .subtitle {
  line-height: 1.5rem;
}

@media only screen and (min-width: 680px) {
  body {
    margin: 1.5em 5em;
    font-family: "Poppins", sans-serif;
  }
}

@media only screen and (min-width: 920px) {
  .menu {
    display: none;
  }
  nav {
    position: unset;
    display: block;
    background: none;
    width: auto;
    height: auto;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  nav svg.close {
    display: none;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
  }
  nav ul a {
    color: white;
    padding: 0.5em 1.5em;
    font-size: 0.9rem;
  }
  nav ul a:hover {
    background: none;
    text-decoration: underline;
  }
  .hero-img {
    left: unset;
    right: 0;
    width: 50%;
    height: 40em;
  }
  .logo {
    color: black;
  }
  .logo span {
    color: red;
  }
  section.hero {
    color: black;
    height: auto;
    width: 40%;
    margin-bottom: 8em;
  }
  section.hero svg.down__arrow {
    position: unset;
    stroke: black;
  }
  section.hero svg.down__arrow path {
    fill: black;
  }
  .feature {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    margin-bottom: 8em;
    gap: 3em;
  }
  .feature .content {
    text-align: right;
    width: 25em;
  }
  .feature img {
    width: 25em;
  }
  .feature.rev {
        grid-template-areas: "left right";
  }
  .feature.rev img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: left;
  }
  .feature.rev .content {
    text-align: left;
    width: 25em;
  }
}

@media only screen and (min-width: 1200px) {
  .wrapper {
    width: 1200px;
    margin: 0 auto;
  }
}

@-webkit-keyframes intro {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes intro {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@-webkit-keyframes arrowMove {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@keyframes arrowMove {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@-webkit-keyframes downMove {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes downMove {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */